{% extends "base.html" %}
{% load static %}

{% block header %}
	<link rel="stylesheet" href="{% static "association.css" %}" />
	<style>
		#conteneur_jeu_octobattle
		{
			display: flex;
			justify-content: space-around;
			text-align: center;
			align-items: flex-end;
			margin-top: 50px;
		}
		#conteneur_sondages_octobattle
		{
			align-self: center;
		}
		/*#conteneur_jeu_octobattle div
		{
			margin: auto;
		}*/
		.logo_sondage, .conteneur_logo
		{
			height: 100px;
			width: 100px;
		}
		.reponse_octobattle
		{
			display: flex;
			justify-content: space-around;
		}
		.reponse_octobattle .exform
		{
			margin: auto;
		}
		.reponse_octobattle .exform button
		{
			margin: 35px 0px 35px 0px;
		}
		#resultat_sondages_octobattle, .gros_chiffre
		{
			font-size: 50px;
			margin-top: 20px;
		}
		#victoire_minsanity, #chiffre_minsanity
		{
			color: #ff33cc;
		}
		#victoire_cosminautes, #chiffre_cosminautes
		{
			color: black;
		}
		.bleu
		{
			color: blue;
		}
		.rouge
		{
			color: red;
		}

		.score
		{
			height: 500px;
			width: 100px;
			margin-bottom: 20px;
			display: flex;
			flex-direction: column-reverse;
		}
		#score_minsanity
		{
			background-color: #ff33cc;
		}
		#score_cosminautes
		{
			background-color: black;
		}
	</style>
	<script type="text/javascript" src="{% static "jquery-1.7.2.min.js" %}" ></script>
	<script type="text/javascript">
		$(function(){
			//Gère les barres de progression
			var hauteurMax = 500;
			var hauteurMinsanity = Math.round(hauteurMax * {{ points_minsanity }} / {{ nombre_sondages_octobattle }});
			var hauteurCosminautes = Math.round(hauteurMax * {{ points_cosminautes }} / {{ nombre_sondages_octobattle }});
			$('.score').css('height', hauteurMax + 'px');
			$('#score_minsanity').css('height', hauteurMinsanity + 'px');
			$('#score_cosminautes').css('height', hauteurCosminautes + 'px');

			//Valide les formulaires quand on appuie sur certaines touches
			$(document).keypress(function(event){
				var keycode = (event.keycode ? event.keycode : event.which);
				// 97 : A, réponse 1 minsa
				// 113: Q, réponse 2 minsa
				// 112: P, réponse 1 cosmi
				// 109: M, réponse 2 cosmi
				console.log(keycode);
				if(keycode == 97){
					$('#reponse_minsanity').val("1");
					$('#minsanity_2').html('');
					$('#minsanity_1').html('<img src="{% static "logo_minsanity.png" %}" class="logo_sondage"/>');
				}
				else if(keycode == 113){
					$('#reponse_minsanity').val("2");
					$('#minsanity_1').html('');
					$('#minsanity_2').html('<img src="{% static "logo_minsanity.png" %}" class="logo_sondage"/>');
				}
				else if(keycode == 112){
					$('#reponse_cosminautes').val("1");
					$('#cosminautes_2').html('');
					$('#cosminautes_1').html('<img src="{% static "logo_cosminautes.png" %}" class="logo_sondage"/>');
				}
				else if(keycode == 109){
					$('#reponse_cosminautes').val("2");
					$('#cosminautes_1').html('');
					$('#cosminautes_2').html('<img src="{% static "logo_cosminautes.png" %}" class="logo_sondage"/>');
				}
			});

			//Gère le clic sur le bouton valider
			$('#form_sondage_octobattle').submit(function(event){
				var form = this;
				event.preventDefault();
				$('#octobattle_reponse_{{ sondage_octobattle.sondage.resultat }}').css('background-image', 'none');
				$('#octobattle_reponse_{{ sondage_octobattle.sondage.resultat }}').css('background-color', 'green');
				//$('#form_sondage_octobattle').delay(10000).submit();
				setTimeout(function(){
					form.submit();
				}, 2000);
			});

			// Colore les messages de victoire
			$( "#victoire_minsanity" ).each(function( index ) {
				var originalText = $( this ).text();
				var newText = "";
				for( var i = 0; i < originalText.length; i++){
					if (i % 2 === 0)
						newText += '<span class="bleu">' + originalText.charAt(i) + "</span>";  
					else
						newText += originalText.charAt(i);
				}
				$( this ).html(newText);
			});
			$( "#victoire_cosminautes" ).each(function( index ) {
				var originalText = $( this ).text();
				var newText = "";
				for( var i = 0; i < originalText.length; i++){
					if (i % 2 === 0)
						newText += '<span class="rouge">' + originalText.charAt(i) + "</span>";  
					else
						newText += originalText.charAt(i);
				}
				$( this ).html(newText);
			});
		});
	</script>
{% endblock %}

{% block onglets %}
	<div id="menu_onglets">
		<h1><img class="logo_assoce" src = "{% static "logo_bde.png" %}">BDE</h1>

		<ul class="nav nav-pills">
			<li><a href="/associations/bde/messages/"><img src="{% static "mail.png" %}"/><span>Messages</span></a></li>
			<li><a href="/associations/bde/evenements/"><img src="{% static "date.png" %}"/><span>Évenements</span></a></li>
			<li><a href="/associations/bde/equipe/"><img src="{% static "user.png" %}"/><span>Équipe</span></a></li>
			<li><a href="/associations/bde/medias/"><img src="{% static "clapperboard.png" %}"/><span>Médias</span></a></li>
			<li><a href="/associations/bde/voter/"><img src="{% static "page_voter.png" %}"/><span>Voter</span></a></li>
			<li><a href="/associations/bde/palums/"><img src="{% static "page_palums.png" %}"/>Palums<span>
			<li><a href="/associations/bde/offre_stage/"><img src="{% static "page_offre_stage.png" %}"/><span>Offres de Stage</span></a></li>
			<li><a href="/associations/bde/voeux_parrainage/"><img src="{% static "page_voeux_parrainage.png" %}"/><span>Parrainage</span></a></li>
			<li><a href="http://eleves.mines-paris.eu/static/Boite-a-outils-BDE.pdf"><img src="/static/page_site.png"><span>Boîte à outils</span></a></li>
		</ul>
		<hr />
	</div>
{% endblock %}

{% block content %}
	<div id="conteneur_jeu_octobattle">
		<div>
			<div class="score">
				<div id="score_minsanity"></div>
			</div>
			<div class="conteneur_logo">
				<img src="{% static "logo_minsanity.png" %}" class="logo_sondage"/>
			</div>
			<div id="chiffre_minsanity" class="gros_chiffre">
				<p>{{ points_minsanity }}</p>
			</div>
		</div>
		<div id="conteneur_sondages_octobattle">
			{% if sondage_octobattle %}
				<p id="sondage_octobattle_question">{{ sondage_octobattle.sondage.question }}</p>

				<form method="post" action='/associations/bde/voter_sondages_octobattle/' class="voteform" id="form_sondage_octobattle">
					{% csrf_token %}
					<input type="hidden" name="id_sondage_octobattle" value="{{ sondage_octobattle.id }}" />
					<input type="hidden" name="next" value="{{ request.path }}" />
					<input type="hidden" name="reponse_minsanity" value="0" id="reponse_minsanity"/>
					<input type="hidden" name="reponse_cosminautes" value="0" id="reponse_cosminautes"/>
					<div id="reponse_1" class="reponse_octobattle">
						<div id="minsanity_1" class="conteneur_logo"></div>
						<div class="exform">
							<button class="btn" type="button" id="octobattle_reponse_1">{{ sondage_octobattle.sondage.reponse1 }}</button>
						</div>
						<div id="cosminautes_1" class="conteneur_logo"></div>
					</div>
					<div id="reponse_2" class="reponse_octobattle"/>
						<div id="minsanity_2" class="conteneur_logo"></div>
						<div class="exform">
							<button class="btn" type="button" id="octobattle_reponse_2">{{ sondage_octobattle.sondage.reponse2 }}</button>
						</div>
						<div id="cosminautes_2" class="conteneur_logo"></div>
					</div>
					<div class="conteneur_logo"></div>
					<button class="btn" type="submit" id="valider_form_sondage_octobattle">Valider</button>
				</form>
			{% else %}
				<div id="resultat_sondages_octobattle">
					{% if points_minsanity < points_cosminautes %}
						<p id="victoire_cosminautes">VICTOIRE COSMINAUTES !</p>
					{% elif points_cosminautes < points_minsanity %}
						<p id="victoire_minsanity">VICTOIRE MINSANITY ! </p>
					{% else %}
						<p>ÉGALITÉ !</p>
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div>
			<div class="score">
				<div id="score_cosminautes"></div>
			</div>
			<div class="conteneur_logo">
				<img src="{% static "logo_cosminautes.png" %}" class="logo_sondage"/>
			</div>
			<div id="chiffre_cosminautes" class="gros_chiffre">
				<p>{{ points_cosminautes }}</p>
			</div>
		</div>
	</div>
{% endblock %}
